:root{
    --fam-font:'lato' sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* overflow: hidden; */
    background-color: white;
    
}


.nav-bar .logo{
    width:100%;
    /* display: flex; */
    padding:  0 0 0 45em;
   


    
}

img{
    max-width: 100%;
}

.nav-bar{
    /* display: flex; */
    /* overflow:hidden; */

    background: linear-gradient(90deg, #FF5F05 -8.59%, #000000 39.41%, #000000 60.98%, #FF5F05 107.97%);
    height: 74px;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.35);
}

.container{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons{
    display: flex;
    font-size: 20px;
}

.nav-icons div i{
    margin: 0 20px;
    color: white;
}
.nav-icons div img{
    /* margin: 0 20px; */
    padding: 0 15px 0 12px;
    /* color: black; */
    

}
.color-change{
    /* margin:0 15px 0 15px; */
    color: red !important;
}



/* .center img{
    background: black;
    position: absolute;
    top:15%;
    left: 33%;

} */

/* -----SIDE-NAVIGATION BAR START HERE */

 /* .nav-line{
    width: 96%;
    margin: auto;
    display: block;
    position: relative;
    top: 2%;
} */
                
.nav-line .line-1,
.nav-line .line-2,
.nav-line .line-3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 7px 0;
    border-radius: 3px;
    cursor:pointer;

}

.sidenav {
    display: flex;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 0px;
    background: rgba(128, 128, 128, 0.9);
    overflow-x: hidden;
    transition: 0.4s ease-in-out;
    padding-top:15px;
    
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    padding-inline: 50px;
    /* color: #818181; */
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    transition: 0.5s ease all;
    position:relative;
    
  }
  
  .sidenav a:hover {
    /* color: #f1f1f1; */
    color: #c4bcbc;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.inner-sidenav{
    position: absolute;
    height: 365px;
    width: 651px;
    left: 15%;
    top: 19%;
    border-radius: 35px;
    background: linear-gradient(137.53deg, #FFFFFF 19.38%, #FFFFFF 60.97%, #B6B6B6 124.78%);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.35);
    align-items: center;


} 
.content{
    /* height: 36px; */
    width: 46%;
    left: 50%;
    top: 20%;
    position: absolute;
    /* background: blue; */
    color: black;

}
.content h1 {
    
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Lato' sans-serif;
    font-size: 30px;
    font-weight: 900;
    /* letter-spacing: 1px; */
    /* text-align: left; */
    background: linear-gradient(90.52deg, #FF5F05 21.53%, #000000 93.95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    


}

.content p{
    /* font-family: Lato; */
    font-size: 13px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 40px;
    letter-spacing: 1px;

    

}

.inputfeld{
    /* margin: 20px; */
    padding:6px;
    /* background: red; */
    border-radius: 30px;
    outline: none;
    border:none;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.inputfeld input{
    font-family: 'lato' sans-serif;
    /* margin: 20px; */
    padding:10px;
    font-weight: 600;
    font-size: 15px;
    /* background: red; */
    border-radius: 30px;
    outline: none;
    border:none;
    
    /* box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); */
    width: 70%;
    display: flex;
    background: none;
    text-align: center;
    
}
.inputfeld div{
    border: 2px solid none;
    /* font-size: 70px; */
    /* padding: 10px; */
    height: 47px;
width: 47px;
left: 266px;
top: 132px;
position: absolute;
/* border-radius: 30px; */
border-Top-right-radius: 24.74px;
border-Bottom-right-radius: 24.74px;
border-Bottom-left-radius: 24.74px;
background: rgba(255, 95, 5, 1);






}
.inputfeld div img{
    padding: 13px 2px 0 0;
    width: 25px;

}

.h1-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    letter-spacing: 20px;
    font-family:var(--fam-font);
    font-weight: 600;
    
}

/* .grid-card{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 10px;
    padding: 30px;
    height: 100%    ;
} */
.grid-card > div{
    width:50%;
    background-size: cover;
    background-position: center;
    
    
}

.flex-container{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap:wrap;
    
}


.flex-container > .items{
    /* flex-grow: 1; */
    width: 32%;
    height: 400px;
 
}

.image1{
    background: url(/MIXTAPE/BG_img/image1.png);
    
}
  
.image2{
    background: url(/MIXTAPE/BG_img/image2.png);
}

.image3{
    background: url(/MIXTAPE/BG_img/image3.png);
}

.image4{
    background: url(/MIXTAPE/BG_img/image4.png);
}

.image5{
    background: url(/MIXTAPE/BG_img/image5.png);
}

.image6{
    background: url(/MIXTAPE/BG_img/image6.png);
}

.image7{
    background: url(/MIXTAPE/BG_img/image7.png);
}

.image8{
    background: url(/MIXTAPE/BG_img/image8.png);
}

.image9{
    background: url(/MIXTAPE/BG_img/image9.png);
}

.image10{
    background: url(/MIXTAPE/BG_img/image10.png);
}

.image11{
    background: url(/MIXTAPE/BG_img/image11.png);
}

.image12{
    background: url(/MIXTAPE/BG_img/image12.png);
}

.btn{
    width: 71%;
    margin: 0 auto;
    padding-top: 20px; 
 
}


.btn button{
    padding: 13px;
    width: 20%;
    font-size:24px;
    font-family: var(--fam-font);
    background: none;
    border-radius: 6px;
    cursor: pointer;
    /* background-color: yellow; */
}

.btn button a{
 
    text-decoration: none;
    color: black;
    /* background-color: blue; */
}

/* footer line start here */

.main-footer{
    margin-top: 20px;
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;

}

.inner-footer{
    /* margin-top: 20px; */
    width: 98%;
    padding: 30px;
    display: flex;
    
    text-align: center;
    justify-content: center;
    text-align: center; 
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foot1,
.foot2,
.foot3,h2{
    margin-bottom: 20px;
    line-height:23px;
    letter-spacing: 2px;
    
}

.foot1-pg{
    margin-bottom: 20px;
}

.foot2 {
  width: 30%;
}

.foot2 i {
    display: block;
    margin-bottom: 8px;
}

.foot3 > div{
    margin-bottom: 10px;
}

.down-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 23px;

}
.down-content p{
    letter-spacing: 2px;
}












